body {
  background-color: rgb(215, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
div {
  border: 1px solid #0a0a2e;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
  text-align: center;
}
 
button{
	border: 3px solid #0a0a2e;
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}
 
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
    text-align: center;
	 width: 400px;
}
.titulo{
    text-align: center;
	background-color: rgb(45, 166, 214);
	color: white;
	font-size: 36px;
}
 
 
.texto{
    text-align: center;
	margin: 15px;
}
 